.homeContainer {
  background-color: #282c34;
  min-height: 100vh;
}

.homeContainer header {
  padding: 0 10%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.homeContainer header nav ul {
  list-style: none;
}

.homeContainer .mainQueries {
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  padding: 0 10%;
}
.homeContainer .mainQueries h1 {
  color: #fff;
  font-weight: bold;
}

.homeContainer .mainQueries form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.homeContainer .mainQueries form .sectionInputsFiltrar {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
  width: 100%;
}
.homeContainer .mainQueries form .sectionInputsFiltrar .input-container {
  max-width: 290px;
  height: min-content;
  position: relative;
  flex: 1 1 140px;
}
.homeContainer .mainQueries form .sectionInputsFiltrar div:nth-child(1) {
  max-width: 120px;
  flex: 1 1 50px;
  width: 100%;
}
.homeContainer .mainQueries form .sectionInputsFiltrar .label {
  position: absolute;
  left: 10px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #b3b3b3;
  cursor: text;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.homeContainer .mainQueries form .sectionInputsFiltrar .text-input {
  padding: 0.8rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #2f2c45;
  background-color: #272530;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
  text-overflow: ellipsis;
}
.homeContainer .mainQueries form .sectionInputsFiltrar .label::before {
  content: '';
  height: 5px;
  background-color: #272530;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 32px;
  z-index: -1;
}
.homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  div:nth-child(2)
  .label::before {
  width: 153px;
}
.homeContainer .mainQueries form .sectionInputsFiltrar .text-input:focus {
  border: 2px solid #7e4ccb;
}
/* .homeContainer .mainQueries form .sectionInputsFiltrar .text-input:not(:focus){
    border: 2px solid #2f2c45;
} */
.homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  .text-input:focus
  + .homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  .label,
.homeContainer .mainQueries form .sectionInputsFiltrar .filled {
  top: -10px;
  color: #7e4ccb;
  font-size: 14px;
}
/* .homeContainer .mainQueries form .sectionInputsFiltrar .text-input:not(:focus) + 
.homeContainer .mainQueries form .sectionInputsFiltrar .label,
.homeContainer .mainQueries form .sectionInputsFiltrar .filled{
    top: 14px;
    color: #fff;
    font-size: 18px;
} */
.homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  .text-input::placeholder {
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  .text-input:focus::placeholder {
  opacity: 1;
}

.btn {
  display: flex;
  align-items: center;
  flex: 1 1 80px;
  max-width: 180px;
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  margin: 0;
  padding: 6px 10px;
  height: 24px;
  width: 100%;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #9057e6;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn a img {
  width: 24px;
}
.btn:hover a {
  background-color: #a367ff;
}
.btn a:focus-visible {
  background-color: #a367ff;
}
.btn a > span {
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: ripples 0.6s linear infinite;
  z-index: 99;
}

@keyframes ripples {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* --------------------------- */
.navigation {
  width: 100%;
  background-color: black;
}

.navigation img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.navigation .logout {
  font-size: 0.8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -5px;
  bottom: -5px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 0.45s;
  -webkit-transition: opacity 0.35s;
}

.navigation .button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: black;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
}

.navigation a:hover {
  width: 100px;
}

.navigation a:hover .logout {
  opacity: 0.9;
}

.navigation a {
  text-decoration: none;
}
