.homeContainer {
  background-color: #282c34;
  min-height: 100vh;
}

.homeContainer header {
  padding: 0 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 9;
}
.homeContainer header nav ul {
  list-style: none;
}

.homeContainer .mainQueries {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5%;
  margin-top: -30px;
}
.homeContainer .mainQueries h1 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  font-size: calc(1em + 1vw);
}

.homeContainer .mainQueries .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 90%;
  margin: 30px auto;
}
.homeContainer .mainQueries .form .sectionInputsFiltrar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 30px;
  justify-content: space-evenly;
  width: 100%;
}
.homeContainer .mainQueries .form .sectionInputsFiltrar .input-container {
  max-width: 290px;
  height: min-content;
  position: relative;
  flex: 1 1 140px;
}
.homeContainer .mainQueries .form .sectionInputsFiltrar div:nth-child(1) {
  max-width: 120px;
  flex: 1 1 50px;
  width: 100%;
}
.homeContainer .mainQueries .form .sectionInputsFiltrar .label {
  position: absolute;
  left: 10px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #b3b3b3;
  cursor: text;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: calc(0.5em + 0.6vw);
}
.homeContainer .mainQueries .form .sectionInputsFiltrar .text-input {
  padding: 0.8rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #2f2c45;
  background-color: #272530;
  border-radius: 5px;
  font-size: calc(0.5em + 0.5vw);
  outline: none;
  transition: all 0.3s;
  color: #fff;
  text-overflow: ellipsis;
  
}
.homeContainer .mainQueries .form .sectionInputsFiltrar .label::before {
  content: '';
  height: 5px;
  background-color: #272530;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 32px;
  z-index: -1;
}
.homeContainer .mainQueries .form .sectionInputsFiltrar #nombres+.label::before {
  width: 164px;
}
.homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  div:nth-child(2)
  .label::before {
  width: 153px;
}
.homeContainer .mainQueries .form .sectionInputsFiltrar .text-input:focus {
  border: 2px solid #7e4ccb;
}
.homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  .text-input:focus
  + .homeContainer
  .mainQueries
  form
  .sectionInputsFiltrar
  .label,
.homeContainer .mainQueries .form .sectionInputsFiltrar .filled {
  top: -10px;
  color: #7e4ccb;
  font-size: calc(.4em + .6vw);
}
.homeContainer
  .mainQueries
  .form
  .sectionInputsFiltrar
  .text-input::placeholder {
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: calc(.5em + .7vw);
}
.homeContainer
  .mainQueries
  .form
  .sectionInputsFiltrar
  .text-input:focus::placeholder {
  opacity: 1;
}

.btn {
  display: flex;
  align-items: center;
  flex: 1 1 80px;
  max-width: 180px;
}

.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  margin: 0;
  padding: 6px 10px;
  max-height: 36px;
  width: 100%;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: calc(0.4em + 0.6vw);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #9057e6;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn button img {
  width: 24px;
}
.btn:hover button {
  background-color: #a367ff;
}
.btn button:focus-visible {
  background-color: #a367ff;
}
.btn button > span {
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: ripples 0.6s linear infinite;
  z-index: 99;
}

@keyframes ripples {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* --------------------------- */
 
.ac-container > div > label {
  height: auto !important;
  line-height: .8 !important;
  font-size: 18px !important;
  font-family: 'Open Sans','Arial Narrow',Arial,sans-serif !important;
  padding: 15px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #fff;
  line-height: 33px;
  font-size: 19px;
  background:rgba(255,255,255,.1);
  background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: linear-gradient(top,#fff 1%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3), 0px 0 0 rgba(255,255,255,0.9) inset,0 2px 2px rgba(0,0,0,0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container {
  width: 100%;
  margin: 30px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
  background: rgba(255,255,255,.1);
  color: #fff;
  box-shadow: 0 0 0 1px rgb(155 155 155 / 30%), 0 20px 16px rgb(0 0 0 / 10%);
  height: 30px;
  line-height: 21px;
  font-size: 13px;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
}

.ac-container > div > input {
  display: none;
}

.ac-container article {
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: #777;
  line-height: 23px;
  font-size: 10px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  font: normal normal 12px 'Open Sans';
}

.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  box-shadow: 0 0 0 0 rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
  height: 100%;
}

.ac-container input:checked ~ article.ac-medium {
  height: 180px;
}

.ac-container input:checked ~ article.ac-large {
  height: 230px;
}


@media screen and (max-width: 767px){
    .navigation{
      opacity: 0;
    }
    .homeContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .homeContainer
    .mainQueries
    .form
    .sectionInputsFiltrar
    .text-input::placeholder {
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: calc(.9em + .9vw);
  }

}
