$smartphone-320px: 320px;
$smartphone: 767px;
$tablet: 1023px;
$desktop: 1024px;

.sectionTableResultadosFiltrado{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    min-height: .01%;
    overflow-x: auto;

    .styled-table {
        border-collapse: collapse;
        margin: 0 auto;
        font-size: 1em;
        font-family: sans-serif;
        width: 100%;
        max-width: 880px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        min-width: 563px;
      }
      .styled-table thead tr {
        background-color: #7e4ccb;
        color: #ffffff;
        text-align: middle;
      }
      .styled-table thead tr th.sorting {
        background-image: url(https://cdn.datatables.net/DataTables-1.10.23/images/sort_both.png);
      }
      .styled-table thead tr th.sorting_asc {
        background-image: url(https://cdn.datatables.net/DataTables-1.10.23/images/sort_asc.png);
      }
      .styled-table thead tr th.sorting_desc {
        background-image: url(https://cdn.datatables.net/DataTables-1.10.23/images/sort_desc.png);
      }
      .styled-table thead tr th {
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center right;
      }
      .styled-table th,
      .styled-table td {
        padding: 12px 15px;
        text-align: center;
        font-size: calc(0.6em + 0.6vw);

        @media screen and (max-device-width: $smartphone-320px) {
          font-size: calc(0.55em + 0.55vw);
          padding: 10px 0px;
        }
      }
      .styled-table thead tr{
        border-radius: 10px 10px 0 0;
      }
      .styled-table th:nth-child(1){
        border-radius: 10px 0 0 0;
      }
      .styled-table th:nth-last-child(1){
        border-radius: 0 10px 0 0;
      }
      .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
        background-color: rgba(255, 255, 255, 0.8);
      }
      .styled-table tbody tr:nth-of-type(even) {
        background-color: rgba(255,255,255,0.6);
      }
      .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
      }
}


  