:root {
  --duration: 1s;
  --delay1: 0.3s;
  --delay2: 0.6s;
  --delay3: 0.9s;
}
.divTitle{
  width: 100%;
}
.title{
  text-align: start;
  width: fit-content;
}
.title .span1 {
  --total: calc(var(--duration) + var(--delay1));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: revealText 1s var(--total) forwards;
}
.title .span2 {
  --total: calc(var(--duration) + var(--delay2));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: revealText 1s var(--total) forwards;
}
.title .span3 {
  --total: calc(var(--duration) + var(--delay3));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: revealText 1s var(--total) forwards;
}

.title .span1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #bb93fc;
  animation: rollIn var(--duration) var(--delay1) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.title .span2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #bb93fc;
  animation: rollIn var(--duration) var(--delay2) forwards,
    rollOut var(--duration) var(--total) forwards;
}
.title .span3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #bb93fc;
  animation: rollIn var(--duration) var(--delay3) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.title .span2::after {
  border-top: 3px solid #896ab9;
}


.title .span3::after {
  border-top: 3px solid #896ab9;
}

@keyframes revealText {
  to {
    color: #fff;
  }
}

@keyframes rollIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes rollOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105%);
  }
}
