.homeContainer{
    background-color: #282c34;
    min-height: 100vh;
}

.homeContainer header{
    padding: 0 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeContainer header nav ul{
    list-style: none;
}

.homeContainer main{
    height: calc(100vh - 55px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContainer h1{
    color: #fff;
    font-weight: bold;
}